.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
API_app/data?

htmlcov/
.coverage
.coverage.*
*,cover
*.yml
experiments
*.csv
